
#ifdef VENDOR_EDIT
#Added by ZhongWenjie@Bsp.group.Tp for himax hx833112B NOFLASH ic driver

config TOUCHPANEL_HIMAX_HX83112B_NOFLASH
#	default y
	bool "TP himax hx83112b no-flash IC enable or not for OPPO"
	---help---
	say Y to enable driver for Touchpanel useing himax hx83112b no-flash

#endif

